{% extends 'base.html.twig' %}

{% block title %}Basket Page{% endblock %}

{% block body %}

    {% include '/partials/header.twig.html.twig' %}
    <div class="basket-page">

        <div class="my-basket">
            <h1> Mon panier </h1>
            <a class="basket-clear"> x Vider le panier</a>

            {% for basketProduct in basketProducts %}
            <div class="basket-item">
                <img src="{{ asset('images/products/' ~ basketProduct.product.imgSrc) }}" alt="Photo de {{basketProduct.product.name}}" />
                <div class="basket-item-text">
                    <h2> {{ basketProduct.product.name }} </h2>
                    <h3> Quantité: {{  basketProduct.quantity }}</h3>
                    <h4> {{ basketProduct.product.price }}€ </h4>
                </div>
            </div>
            {% endfor %}
            {% if basketProducts|length == 0 %}
            <div class="basket-item">
                    <h2> Votre panier est vide </h2>
            </div>
            {% endif %}
            <div class="basket-total">
                <div>
                    <h2> Total panier : <span class="basket-amount">8,50€</span></h2>
                    <h4> Frais de livraison: Offert</h4>
                </div>
            </div>

            <a href="#" class="main-button"> Valider la commande </a>
        </div>


    </div>
    {% include '/partials/footer.twig.html.twig' %}
{% endblock %}
