{% extends 'base.html.twig' %}

{% block title %}Our product{% endblock %}

{% block body %}

    {% include '/partials/header.twig.html.twig' %}
    <div class="login-page">

        <div class="login-left">
            <img src="{{ asset('images/leaves.avif') }}" alt="product1">
        </div>
        <div class="login-right signUp ">
            <h1> Inscription </h1>

            <h3> Tous les champs sont obligatoires.</h3>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <div class="checkbox">

            {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="main-button">S'inscrire</button>
            {{ form_end(registrationForm) }}

            <a href="{{path('app_login')}}"> Déjà un compte ? Se connecter </a>
        </div>
    </div>
    {% include '/partials/footer.twig.html.twig' %}
{% endblock %}
