<div class="main-wrapper">
    <div class="product-menu">
        <h2>
            NOS PRODUITS
        </h2>
    </div>

    <div class="product-grid">

        {% for product in products %}
        <div class="product-card">
            <a href="{{ path('app_product', { 'id': product.id }) }}">
                <img src="{{ asset('images/products/' ~ product.imgSrc) }}" alt="Photo de {{product.name}}"
                     loading="lazy"
                /></a>
            <div class="product-card-text">
                <h3> {{ product.name}} </h3>
                <h4>{{ product.descPreview }}</h4>
                <h5>{{ product.price}} €</h5>
                <div class="product-button-wrapper">
                    <a href="/product/{{product.id}}" class="product-button">Voir le produit</a>
                </div>
            </div>
        </div>

        {% endfor %}



    </div>
</div>
