{% extends 'base.html.twig' %}

{% block title %}Our product{% endblock %}

{% block body %}

    {% include '/partials/header.twig.html.twig' %}
    <div class="product-page">

        <div class="product-left">
            <img src="{{ asset('images/products/' ~ product.imgSrc) }}" alt="Photo de {{product.name}}" />
        </div>
        <div class="product-right ">
            <div class="product-text-wrapper">
                <h1> {{ product.name }} </h1>
                <h2> {{ product.price }}€ </h2>
                <h5> Description </h5>
                <p>{{product.description}}</p>
            </div>
            <a href="/basket/add/{{product.id}}" class="main-button"> Ajouter au panier </a>
        </div>
    </div>

    <div class="footer-wrapper">
        {% include '/partials/footer.twig.html.twig' %}
    </div>
{% endblock %}
