{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    {% include '/partials/header.twig.html.twig' %}
    <div class="order-page">

        <div class="my-account">
            <h1> Mon compte </h1>

            <div class="account-block">
                <h2> Mes commandes</h2>
                {% if orders != [] %}
                <table>
                    <colgroup>
                        <col style="width: 40%;">
                        <col style="width: 50%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td> {{ order.orderedAt|date('d-m-Y') }}</td>
                        <td>{{ order.total }}€</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p> Aucune commande passée pour le moment.</p>
                {% endif %}

            </div>
            <div class="account-block">
                <h2> Mon accès API</h2>
                {% if user.hasAPIAccess %}
                <a href="{{ path('app_account_disable_api_access')}} " class="main-button"> Désactiver mon accès API </a>
                {% else %}
                <a href="{{ path('app_account_allow_api_access')}} " class="main-button"> Activer mon accès API </a>

                {% endif %}
            </div>

            <div class="account-block">
                <a href="#" class="main-button"> Supprimer mon compte </a>
            </div>
        </div>


    </div>
    {% include '/partials/footer.twig.html.twig' %}
{% endblock %}
